<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.BoardMapper">
	<select id="getBlist" resultType="com.test.domain.BoardDTO">
		select
			f.free_seq,
			f.category,
			f.title,
			f.content,
			m.member_seq,
			m.nickname,
			f.regdate,
			f.readcount
		from vwFree f
			inner join tblMember m
				on f.member_seq = m.member_seq
					order by f.free_seq desc
	</select>

	<select id="get" parameterType="String"
		resultType="com.test.domain.BoardDTO">
		select
			f.free_seq,
			f.category,
			f.title,
			f.content,
			m.nickname,
			f.regdate,
			f.readcount
		from vwFree f
			inner join tblMember m
				on f.member_seq = m.member_seq where free_seq = #{free_seq}
	</select>

	<select id="getClist" parameterType="String"
		resultType="com.test.domain.CommentDTO">
		select 
		    fr.freply_seq,
		    fr.content, 
		    m.nickname,
		    fr.regdate
		from tblFreeReply fr
		 inner join tblMember m
		    on fr.member_seq = m.member_seq
		        where fr.free_seq = #{free_seq}
	</select>

	<update id="updateReadCount" parameterType="String">
		update tblFree set readcount = readcount + 1 where free_seq = #{free_seq}
	</update>
	
	<!-- 게시판 등록, 수정, 삭제 -->
	<!-- 등록 -->
	<insert id="add" parameterType="com.test.domain.BoardDTO">
		insert into tblFree values(free_seq.nextVal, #{title}, #{content}, #{category}, #{fname}, default, default, default, default, 3)
	</insert>
	
	<update id="edit" parameterType="com.test.domain.BoardDTO" >
		update tblFree set title = #{title}, content = #{content} 
			where free_seq = #{free_seq}
	</update>
	
	<delete id="del" parameterType="String">
		delete from tblFree where free_seq = #{free_seq}
	</delete>
	

	<insert id="addComment" parameterType="com.test.domain.CommentDTO">
	insert into tblFreeReply values(freply_seq.nextVal, #{content}, default, #{free_seq}, 3)
	</insert>


</mapper>


