<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.MypageMapper">
	
	<select id="bookmarkList" resultType="com.test.domain.BookmarkDTO">
	select
	ac.name as Accommodate_name,
	ac.address as Accommodate_address,
	at.title as Activity_name,
	at.address as Activity_address,
	at.category as Activity_category,
	at.price as Activity_price,
	f.name as Food_name,
	f.address as Food_address,
	ar.name as Area_name,
	ar.address as Area_address
	from tblBookmark b
	left outer join tblAccommodate ac on b.acco_seq = ac.acco_seq
	left outer join tblActivity at on b.activity_seq = at.activity_seq
	left outer join tblFood f on b.food_seq = f.food_seq
	left outer join tblArea ar on b.area_seq = ar.area_seq
	where b.member_seq = 5
	</select>
	
	<select id="transList" resultType="com.test.domain.TranReserveDTO">
		select 
		    tp.type,
		    tp.runtime,
		    tp.departure,
		    tp.destination,
		    tp.price,
		    td.tran_date,
		    td.begin,
		    tr.regdate,
		    tr.treserve_seq
		from tblTranReserve tr
		    inner join tblTranDate td
		        on tr.trandate_seq = td.trandate_seq
		            inner join tblTransport tp
		                on td.tran_seq = tp.tran_seq
		                    where tr.member_seq = 5
		                    	order by regdate desc
	</select>
	
	<select id="accommodateList" resultType="com.test.domain.AccoReserveDTO">
		select 
		    a.type,
		    rr.regdate,
		    rd.rdate,
		    a.address,
		    r.price,
		    r.limit,
		    rr.rreserve_seq,
		    a.name
		from tblRoomReserve rr
		inner join tblRoomDate rd on rr.rdate_seq = rd.rdate_seq
		inner join tblRoom r on rd.room_seq = r.room_seq
		inner join tblAccommodate a on r.acco_seq = a.acco_seq
		where rr.member_seq = 5
		order by regdate desc
	</select>
	
	<select id="activityList" resultType="com.test.domain.ActivityReserveDTO">
		select
		    a.title,
		    ar.regdate,
		    a.category,
		    ad.adate,
		    a.address,
		    a.price,
		    ar.areserve_seq
		from tblActivityReserve ar
		inner join tblActivityDate ad on ar.adate_seq = ad.adate_seq
		inner join tblActivity a on ad.activity_seq = a.activity_seq
		where ar.member_seq = 5
		order by regdate desc
	</select>
	
	<select id="treservedetail" resultType="com.test.domain.TranReserveDTO">
		select 
		    tp.type,
		    tp.runtime,
		    tp.departure,
		    tp.destination,
		    tp.price,
		    td.tran_date,
		    td.begin,
		    tr.regdate,
		    tr.treserve_seq
		from tblTranReserve tr
		    inner join tblTranDate td
		        on tr.trandate_seq = td.trandate_seq
		            inner join tblTransport tp
		                on td.tran_seq = tp.tran_seq
		                    where tr.treserve_seq = #{treserve_seq}
	</select>
	
	<select id="tpay" resultType="com.test.domain.PayDTO">
		select * from tblPay where treserve_seq = #{treserve_seq}	
	</select>
	
	<select id="rreservedetail" resultType="com.test.domain.AccoReserveDTO">
		select 
		    a.type,
		    rr.regdate,
		    rd.rdate,
		    a.address,
		    r.price,
		    r.limit,
		    rr.rreserve_seq,
		    a.name
		from tblRoomReserve rr
		inner join tblRoomDate rd on rr.rdate_seq = rd.rdate_seq
		inner join tblRoom r on rd.room_seq = r.room_seq
		inner join tblAccommodate a on r.acco_seq = a.acco_seq
		where rr.rreserve_seq = #{rreserve_seq}
	</select>
	
	<select id="rpay" resultType="com.test.domain.PayDTO">
		select * from tblPay where rreserve_seq = #{rreserve_seq}	
	</select>
	
	<select id="areservedetail" resultType="com.test.domain.ActivityReserveDTO">
		select
		    a.title,
		    ar.regdate,
		    a.category,
		    ad.adate,
		    a.address,
		    a.price,
		    ar.areserve_seq
		from tblActivityReserve ar
		inner join tblActivityDate ad on ar.adate_seq = ad.adate_seq
		inner join tblActivity a on ad.activity_seq = a.activity_seq
		where ar.areserve_seq = #{areserve_seq}
	</select>
	
	<select id="apay" resultType="com.test.domain.PayDTO">
		select * from tblPay where areserve_seq = #{areserve_seq}	
	</select>
	
</mapper>



