<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.MypageMapper">

	<select id="bookmarkList"
		resultType="com.test.domain.BookmarkDTO">
		select
		ac.name as Accommodate_name,
		ac.address as
		Accommodate_address,
		at.title as Activity_name,
		at.address as
		Activity_address,
		at.category as Activity_category,
		at.price as
		Activity_price,
		f.name as Food_name,
		f.address as Food_address,
		ar.name
		as Area_name,
		ar.address as Area_address
		from tblBookmark b
		left outer
		join tblAccommodate ac on b.acco_seq = ac.acco_seq
		left outer join
		tblActivity at on b.activity_seq = at.activity_seq
		left outer join
		tblFood f on b.food_seq = f.food_seq
		left outer join tblArea ar on
		b.area_seq = ar.area_seq
		where b.member_seq = 5
	</select>
	
	<select id="transList" resultType="com.test.domain.TranReserveDTO">
		select
		    tp.type,
		    tp.runtime,
		    tp.departure,
		    tp.destination,
		    tp.price,
		    td.tran_date,
		    td.begin,
		    p.trandate_seq,
		    p.regdate,
		    p.pay_seq
		from tblPay p
		    inner join tblTranDate td
				        on p.trandate_seq = td.trandate_seq
				            inner join tblTransport tp
				                on td.tran_seq = tp.tran_seq
				                    where p.member_seq = 5
				                        order by regdate desc
	</select>
	
	<select id="accommodateList" resultType="com.test.domain.AccoReserveDTO">
		select 
    		a.type,
		    p.regdate,
		    rd.rdate,
		    a.address,
		    r.price,
		    r.limit,
		    p.rdate_seq,
		    a.name,
		    p.pay_seq
		from tblPay p
		    inner join tblRoomDate rd on p.rdate_seq = rd.rdate_seq
				inner join tblRoom r on rd.room_seq = r.room_seq
				inner join tblAccommodate a on r.acco_seq = a.acco_seq
				where p.member_seq = 5
				order by regdate desc
	</select>
	
	<select id="activityList" resultType="com.test.domain.ActivityReserveDTO">
		select
		    a.title,
		    p.regdate,
		    a.category,
		    ad.adate,
		    a.address,
		    a.price,
		    p.adate_seq,
		    p.pay_seq
		from tblPay p
		inner join tblActivityDate ad on p.adate_seq = ad.adate_seq
		inner join tblActivity a on ad.activity_seq = a.activity_seq
		where p.member_seq = 5
		order by regdate desc
	</select>
	
	<select id="treservedetail" resultType="com.test.domain.TranReserveDTO">
		select 
		    tp.type,
		    tp.runtime,
		    tp.departure,
		    tp.destination,
		    tp.price,
		    td.tran_date,
		    td.begin,
		    tr.regdate,
		    tr.treserve_seq
		from tblTranReserve tr
		    inner join tblTranDate td
		        on tr.trandate_seq = td.trandate_seq
		            inner join tblTransport tp
		                on td.tran_seq = tp.tran_seq
		                    where tr.treserve_seq = #{treserve_seq}
	</select>
	
	<select id="tpay" resultType="com.test.domain.PayDTO">
		select * from tblPay where treserve_seq = #{treserve_seq}	
	</select>
	
	<select id="rreservedetail" resultType="com.test.domain.AccoReserveDTO">
		select 
		    a.type,
		    rr.regdate,
		    rd.rdate,
		    a.address,
		    r.price,
		    r.limit,
		    rr.rreserve_seq,
		    a.name
		from tblRoomReserve rr
		inner join tblRoomDate rd on rr.rdate_seq = rd.rdate_seq
		inner join tblRoom r on rd.room_seq = r.room_seq
		inner join tblAccommodate a on r.acco_seq = a.acco_seq
		where rr.rreserve_seq = #{rreserve_seq}
	</select>
	
	<select id="rpay" resultType="com.test.domain.PayDTO">
		select * from tblPay where rreserve_seq = #{rreserve_seq}	
	</select>
	
	<select id="areservedetail" resultType="com.test.domain.ActivityReserveDTO">
		select
		    a.title,
		    ar.regdate,
		    a.category,
		    ad.adate,
		    a.address,
		    a.price,
		    ar.areserve_seq
		from tblActivityReserve ar
		inner join tblActivityDate ad on ar.adate_seq = ad.adate_seq
		inner join tblActivity a on ad.activity_seq = a.activity_seq
		where ar.areserve_seq = #{areserve_seq}
	</select>
	
	<select id="apay" resultType="com.test.domain.PayDTO">
		select * from tblPay where areserve_seq = #{areserve_seq}	
	</select>

	<delete id="payDel">
		delete from tblPay where pay_seq = #{pay_seq}
	</delete>
	
	<select id="getMemberInfo" parameterType="Integer"
		resultType="com.test.domain.MemberDTO">
		SELECT * FROM tblMember WHERE member_seq = #{member_seq}
	</select>

	<update id="saveMemberInfo"
		parameterType="com.test.domain.MemberDTO">
		UPDATE tblMember SET
		name = #{name},
		email = #{email},
		pw =
		#{pw},
		nickname = #{nickname},
		tel = #{tel}
		WHERE member_seq =
		#{member_seq}
	</update>

	<select id="getAccommodateReview"
		resultType="com.test.domain.BookableReviewDTO">
		select
		a.name,
		r.review_seq,
		r.content,
		r.score,
		r.thread,
		r.depth,
		r.pay_seq,
		p.rdate_seq,
		r.rdate
		from tblreview r
		left outer join tblpay p
		on r.pay_seq = p.pay_seq
		inner join tblroomdate rd
		on p.rdate_seq = rd.rdate_seq
		inner join tblroom rm
		on rd.room_seq = rm.room_seq
		inner join tblaccommodate a
		on rm.acco_seq = a.acco_seq
		where p.rdate_seq is not null
		and p.member_seq = 5
		order by r.rdate desc
	</select>

	<select id="getActivityReview"
		resultType="com.test.domain.BookableReviewDTO">
		select
		a.title as name, r.review_seq, r.content,
		r.score, r.thread, r.depth, r.pay_seq,
		p.adate_seq, r.rdate
		from tblreview r
		left outer join tblpay p
		on r.pay_seq = p.pay_seq
		inner join tblactivitydate ad
		on p.adate_seq = ad.adate_seq
		inner join tblactivity a
		on ad.activity_seq = a.activity_seq
		where p.adate_seq is not null
		and p.member_seq = 5
		order by r.rdate desc
	</select>

	<select id="getFoodReview"
		resultType="com.test.domain.UnbookableReviewDTO">
		select freview_seq, content, score, thread, depth, name,
		rdate
		from tblfoodreview fr
		inner join tblfood f on fr.food_seq = f.food_seq
		where member_seq = 5

	</select>

	<update id="updateBookableReview">
		update tblReview
		set content = #{newContent}
		where review_seq = #{seq}
	</update>
	
	<update id="updateUnbookableReview">
		update tblFoodReview
		set content = #{newContent}
		where freview_seq = #{seq}
	</update>

	<insert id="tripInsert">
		insert into tblTrip values (trip_seq.nextVal, 5, #{title}, 0, sysdate, #{begin}, #{end}, 'n')
	</insert>
	
	<insert id="schInsert">
		insert into tblSchedule values(schedule_seq.nextVal, #{nth}, #{memo}, #{place}, #{address})
	</insert>
	
	<select id="getTripId" resultType="String">
		SELECT trip_seq.CURRVAL FROM DUAL
	</select>
	
	<insert id="dayInsert">
		insert into tblDay values (day_seq.nextVal, #{nth}, #{trip_seq})
	</insert>
	
	<select id="getDaySeq" resultType="String">
		select day_seq from tblDay where nth = #{nth} and trip_seq = #{trip_seq}
	</select>

	<delete id="deletebr">
		delete from tblReview where review_seq = #{seq}
	</delete>
	
		<delete id="deleteubr">
		delete from tblFoodReview where freview_seq = #{seq}
	</delete>
	
	<update id="setReviewStatus">
		UPDATE tblPay SET review_written = 'n'
		WHERE (SELECT pay_seq FROM tblReview WHERE review_seq = #{seq})
	</update>
	
<!-- 	<select id="getUnwrittenAccommodate" resultType="com.test.domain.UnwrittenReviewDTO">
		
	</select>
 -->
</mapper>



